





/* Add this style for the overlay page */
.div {
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px rgba(112, 144, 176, 0.12);
    background-color: #fff;
    display:flex;
    flex-direction: column;
    padding: 0 30px 0 34px;
    position: relative;
    width: 600px;
    height: 720px;
    top: -70px;
  }
  @media (max-width: 991px) {
    .div {
      padding: 0 20px;
    }
  }
  .div-2 {
    position: relative;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .edit-profile-text {
    color: #333333;
    margin: auto 0;
    font: 600 20px/120% Poppins, sans-serif;
  }
  .x-img {
    aspect-ratio: 1.08;
    object-fit: contain;
    object-position: center;
    width: 43px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }

  .about-info-form{
    position: relative;
    color: #333333;
    white-space: nowrap;
    align-items: start;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(112, 144, 176, 0.12);
    background-color: #fff;
    margin-top: 10px;
    padding: 12px 20px 50px 30px;
    font: 600 20px/120% Poppins, sans-serif;
  }
  .about-info{
    color: #333333;
    white-space: nowrap;
    align-items: start;
    margin-bottom: 20px;
    font: 600 20px/120% Poppins, sans-serif;
  }
  .input-info-text{
    color: #333333;
    margin: auto 0;
    font-family: "poppins",sans-serif;
    font-size: 14px;
  }
  .input{
    position: relative;
    border-width: 2px;
    border-radius: 7px;
    border-style: solid;
    border-color: #C5C7C8;
    background-color: whitesmoke;
    width: 80%;
    height: 8%;
    margin-bottom: 15px;
  }
  input::placeholder{
    position: absolute;
    color: #D2D2D1;
    text-align: center;
    margin-left: 10px;
  }
  .combobox-container{
    width: 80%;
    height: 8%;
    padding-bottom: 15px;
  }
  select{
    background-color:white;
  }

  .date-of-birth{
    width: 80%;
    height: 8%;
    padding-bottom: 15px;
  }
  .checkbox-form{
    display: flex;
    align-items:  center;
    flex-direction: row;
    padding-bottom: 15px;
  }
  label{
    font-family: "poppins",sans-serif;
    font-size: 14px;
    color: #333333;
    font-style: normal;
    font-weight: lighter;
  }

  .save {
    position: relative;
    display: flex;
    color: white;
    text-align:center;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(112, 144, 176, 0.25);
    background-color: var(--Primary-color, #9370db);
    align-self: stretch;
    flex-grow: 1;
    padding: 5px 15px;
    font: 600 14px/150% Poppins, sans-serif;
    width: 20%;
    height: 25px;
    top: -50px;
    left: 390px;
  }
  @media (max-width: 991px) {
    .save {
      white-space: initial;
    }
  }
  .bio-text {
    color: #333333;
    white-space: nowrap;
    align-items: start;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(112, 144, 176, 0.12);
    background-color: #fff;
    margin-top: 0px;
    padding: 12px 20px 12px 30px;
    font: 600 20px/120% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .bio-text {
      white-space: initial;
      max-width: 100%;
    }
  }
  .image-text {
    color: #333333;
    white-space: nowrap;
    align-items: start;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(112, 144, 176, 0.12);
    background-color: #fff;
    margin: 0px 0 45px;
    padding: 12px 20px 12px 30px;
    font: 600 20px/120% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .image-text {
      white-space: initial;
      max-width: 100%;
      margin-bottom: 40px;
    }
  }


  
  .overlay {
    position:fixed;
    top: 10%;
    left: 29%;
    width: 44%;
    background: transparent; /* Semi-transparent background */
    z-index: 999; /* Ensure it appears above the main content */
    display:none;
  }
  
  /* CSS for dimming the main content when the overlay is open */
  .main-content.blurred {
    filter: blur(3px);
  }
.overlay-open{
    overflow: hidden;
}