@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body{
    background:linear-gradient(to right, #F0E6F7,#DAC1ED);;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;

}



.header {
    height: 4rem; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #E1CEEE;
    box-shadow: 5px 5px 5px rgba(22, 8, 43, 0.1);
    padding: 0 5px;
    z-index: 100;
    
  }
  .header__container {
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: space-between;
  }
  .header__logo img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 23px;
    margin-top: 10px;

  }
  .header__search {
    display: flex;
    padding: 10px 10px;
    background-color: #F4F0FA;
    width: 30%;
    border-radius: 5px;
  }  
  .header__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #F4F0FA;
  } 
  .header__input::placeholder {
    font-family:'Poppins', sans-serif;
    color: #58555E;
  }  
.header__profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 50px;
}
.header_profile{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.nav_login{
  
  border-radius: 40px;
  background-color: #9370DB;
  color: white;
  width: 60%;
  margin-right: 60px;}
  
/*---------------------------------------------------------------------*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 5px 5px 0;
    background-color: #E1CEEE;
    box-shadow: 5px 5px 5px rgba(22, 8, 43, 0.1);
    z-index: 100;
    transition: .4s ease;
    width: 0;
  }
 .nav__logo img{
    border-radius: 50%;
    margin-left: 2px;
    margin-top: -20px;
 }
 a{
    text-decoration: none;
 }
 .nav__logo-name{
    
    color: 333333;
    
 }

  .nav__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
    overflow: auto;
    scrollbar-width: none; /* For mozilla */
    margin-left: 15px;
  }
  /* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
    display: none;
  }
  
  /*.nav__logo {
    font-weight: 600;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    
  }
  .nav__logo-name{
    
    margin-left:10px;
    font-size: 20px;

  }
  .nav__logo img{
    margin:0px;
    padding: 0;
  }*/
  .nav__logo {
    display: flex;
    align-items: center;
  }
  
  .nav__logo img {
    width: 100px; /* Adjust the size to your preference */
    margin-right: 5px;
    border-radius: 50%;
  }
  
  
  /*-----------------------*/
  .nav__list, 
  .nav__items {
    display: grid;
  }
  
  .nav__list {
    row-gap: 5px;
    margin: 5px;
  }
  
  .nav__items {
    row-gap: 5px;
  }
  
  .nav__subtitle {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#333333;
  }
  
  .nav__link {
    display: flex;
    align-items: center;
    color: #58555E;
    margin: 0px;
  }
  
  .nav__link:hover {
    color: #9370DB;

  }
  
 
  
  .nav__name {
    font-size: 15px;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 5px;
    

    
  }
  
  .nav_logout {
    margin-bottom:50px;
    border-radius: 40px;
    background-color: #9370DB;
    color: white;
    width: 40%;
    margin-left: 50px;
  }
  /* Dropdown----------------------------------------------------------------------------- */
.nav__dropdown {
    overflow: hidden;
    max-height: 30px;
    transition: .4s ease-in-out;
    
  }
  
  .nav__dropdown-collapse {
    
   
    margin-top: 5px;
  }
  
  .nav__dropdown-content {
    display: grid;
    row-gap: .25rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
  }
  
  .nav__dropdown-item {
    font-size:14px;
    font-weight: 500;
    color: #333333;
    
  }
  
  .nav__dropdown-item:hover {
    color: #9370DB;
 
  }
  
  .nav__dropdown-icon {
    margin-left: auto;
    transition: .4s;
  }
  
  /* Show dropdown collapse */
  .nav__dropdown:hover {
    max-height: 100rem;
  }
  
  /* Rotate icon arrow */
  .nav__dropdown:hover .nav__dropdown-icon {
    transform: rotate(180deg);
  }
  
  /*===== Show menu =====*/
  .show-menu {
    left: 0;
  }

  
  
  /* Navbar expanded */
  .nav:hover {
    
      width: 219px;
    }
  /*------------------create post------------*/
  .create_post{
    width:85%;
    height: 100px;
    margin-top: 30px;
    margin-left: 40px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 

  }
 
  .create{
    display: flex;
    margin-left: 10px;
  }
  .type_something{
    border: none;
    width: 90%;
    opacity: 0.5;
    margin-left: 10px;
  
  }
  .post_features{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .createpost_icons i{
    margin-left: 10px;
  }
  .post_post{
    background-color: #9370DB;
    color: white;
    border-radius: 10px;
    width: 90px;
  }
  
 /*post style---------------------------------------------------------------------------------*/
 .post__container{

  margin-top: 60px;
  margin-left: 26%;
  width: 50%;
  border-radius: 10px;
 
 }

 .post-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-top: 0px;
}

.post_menu {
  position: absolute;
  left: 70.5%;

}

.actions-menu {
  position: absolute;
  background-color: #E1CEEE;
  box-shadow: 5px 5px 5px rgba(22, 8, 43, 0.1);
  display: none;
  border-radius: 20px;
  color: #333333;
  font-weight: 300;
}

.actions-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.actions-menu li {
  padding: 8px 16px;
  cursor: pointer;
 
}

.actions-menu li:hover {
  color: #9370DB;
}

.account-image {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0px;

}

.account-name {
  font-weight: bold;
  color: #333333;
  font-size: large;
  padding-left: 2%; 
}


 .post {

  width: 85%;
  height: auto;
  margin-top: 30px;
  margin-left: 40px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 

}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.post-caption {
  margin-top: 10px;
  font-size: 14px;
  color: #333333;
  font-family:'Poppins', sans-serif ;
}

.post-actions {
  margin-top: 10px;
  display: flex;
  
  /*justify-content: space-between;*/
}

.vote-buttons {
  display: flex;
  
}
.vote-buttons button{
  margin-left: 10px;
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}


.comment-button {
  background-color: white;
  color: #333333;
  border: none;
  padding: 5px 10px;
  
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
}

.view-comments{
  text-align: center;
  color: #9370DB;

}
.divider{
  color: #333333;
  max-width: 400px;
  font-weight:800 ;
}
.comment{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /*margin-left: 60px;*/
}
.comment_profile{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  }

.profile_photo{
  width: 30px;
  height: 30px;
  border-radius: 50%;

}
.write_comment{
  border:none;

  margin-left: 10px;
  width: 150px;
}
/*----------------------------------------------------------*/
.right_navbar{
  width: 15%;
  display: flex;
  flex-direction: column;
  
  right: 6%;



}

.Trending_bar,.recommended_bar,.community_bar{
  background-color: white;
  width: 100%;
  height: auto;
  color: #333333;
  border-radius: 20px;
  margin-top:90px;
  margin-left: 70px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  
}
.title {
  display: flex;
  align-items: center;
  
}

.fa-fire-flame-curved ,.fa-people-group,.fa-people-roof {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px; /* Adjust the font size as needed */
}

.title-word {
  font-weight: bold;
  font-size: 14px; /* Adjust the font size as needed */
}
.right-divider{
  max-width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}
.recommended_bar,
.community_bar {
  margin-top: 30px;
}

.element1,
.element2,
.element3,
.element4{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0px 10px;
  
}

.follow {
  background-color: #9370DB;
  color: white;
  border-radius: 10px;
  padding: 0px 10px;
  height: 20px;
  font-size: 10px;
  
}

.name {
  font-size: 12px;
  color: #333333;
  margin-right: 14px;
  margin-top: 5px;
}

.element2 {
  margin-bottom: 10px;
}
.right-divider{
  max-width: 150px;
}
/*--------------------------------------------------------------------*/
.section{
  position: relative;
  width: 100%;
  height: 5vh;
  display: flex;
}

.overlay-page {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 95%;
  margin-left: 30%;
  margin-top: 0.5%;
  margin-bottom: 5%;
  background: #ecf0f3;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Add this style for the blur effect */
.blurred {
  filter: blur(15px);
  transition: filter 0.5s ease;
}

#overlay_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
 
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin-bottom: 250px;
  
  
  
}




#createCommunityForm label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

#createCommunityForm input[type="text"],
#createCommunityForm input[type="file"] {
  width: 100%;
  padding: 15px;
 
  box-sizing: border-box;
  border: none;
  background-color: #ecf0f3;
   box-shadow:  8px 8px 8px #cbced1,
   -8px -8px 8px #ffffff;
  border-radius: 5px;
}
#createCommunityForm input[type="text"]::placeholder{
  font-size: larger;
  color: gray;
  opacity: 0.4;
}

#createCommunityForm button {
  padding: 10px;
  background-color: #9370DB;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 32%;
  box-shadow:  8px 8px 8px #cbced1,
   -8px -8px 8px #ffffff;
}

#closeOverlay {
  border-radius: 8px;
  width: 40px;
  height: 30px; /* Adding height for a square button */
  font-size: 15px;
  background-color: #9370DB;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 8px;
  box-shadow:  8px 8px 8px #cbced1,
   -8px -8px 8px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeOverlay:hover {
  background-color: #7a5aaf; /* Adjust the color on hover if needed */
}
.comm_img input[type="file"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the file input to make it visually appealing */
.comm_img input[type="file"]::-webkit-file-upload-button {
  background-color: #9370DB;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comm_img input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #9370DB;
}
.comm_img input[type="file"]::placeholder {
  color: gray;
  opacity: 0.4;
  margin-left: 5px;
}