@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* :root{
  --navbarColor:linear-gradient(90deg,rgba(176,191,238,1)0%, rgba(176,191,238,1) 18%, rgba(220,225,240,1) 40%, rgba(220,225,240,1) 60%, rgba(176,191,238,1) 86%, rgba(87,122,232,1) 100%);
  --navbarColorSite:rgba(176,191,238,1);
  --navbarColorTopic:black;
  --navbarColorLink:black;
  --navbarColorLinkHover:rgba(30,73,128,1) ;
  --navbarColorButtom:rgba(30,73,128,1) ;
  --OverlayBackgroundColor:rgba(30,73,128,0.8);
  --ColorGrey:#404245;
  --backGroundColor: linear-gradient(90deg,rgba(176,191,238,1)0%, rgba(176,191,238,1) 18%, rgba(220,225,240,1) 40%, rgba(220,225,240,1) 60%, rgba(176,191,238,1) 86%, rgba(87,122,232,1) 100%);
  --IcansColor:black;
  --varBoxShadowColor:-5px -6px 10px black;
} */

body{
    background:var(--backGroundColor);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    transition: background-color 0.5s, color 0.5s;
    
}
/* this for dark and light mode -------------------*/
body.light-mode {
  --navbarColor:#0099ff;
  --navbarColorSite:#0099ff;
  --navbarColorTopic:#FB941E;
  --navbarColorLink:#ecf0f3;
  --navbarColorLinkHover:#E39942 ;
  --navbarColorButtom:#0099ff;
  --OverlayBackgroundColor:rgba(0, 0, 0, 0.433);
  --ColorGrey:#404245;
  --backGroundColor: #ecf0f3;
  --IcansColor:#ecf0f3;
  --varBoxShadowColor:5px 6px 10px gray;
  --varColorLightDrak:#ecf0f3;
  --varInputColorLightDrak:#ecf0f3;
  --varBlackLight:black;
}
body.dark-mode {
  --navbarColor:#191C24;
  --navbarColorSite: #191C24;
  --navbarColorTopic:#FB941E;
  --navbarColorLink:white;
  --navbarColorLinkHover:#FB941E ;
  --navbarColorButtom:#191C24;
  --OverlayBackgroundColor:#191c2471;
  --ColorGrey:#404245;
  --backGroundColor:#0b0c10;
  --IcansColor:white;
  --varBoxShadowColor:5px 6px 10px #272b38 ;
  --varColorLightDrak:#191C24;
  --varInputColorLightDrak:#272b38;
  --varBlackLight:#ecf0f3;
} 
/* --------------------------------- */
.header {
    height: 4rem; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--navbarColor);
    box-shadow: var(--varBoxShadowColor);
    padding: 0 5px;
    z-index: 100;
    
  }
  .header__container {
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: space-between;
  }
  .header__logo img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 23px;
    margin-top: 10px;

  }

  .header__search {
    display: flex;
    padding: 10px 10px;
    background-color: #F4F0FA;
    width: 30%;
    border-radius: 5px;
    box-shadow: var(--varBoxShadowColor);
  }  
  .header__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #F4F0FA;
  } 
  .header__input::placeholder {
    font-family:'Poppins', sans-serif;
    color: #58555E;
  }  
.header__profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 50px;
}
.header_profile{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  
}
.dash_link{
  border: 1px solid var(--navbarColorTopic);
  background-color:var(--navbarColorTopic) ;
  color: var(--navbarColorButtom);
  border-radius: 10px;
  padding: 5px;
  margin-right: 250px;
}
/* .nav_login{
  
  border-radius: 40px;
  background-color: #9370DB;
  color: white;
  width: 60%;
  margin-right: 60px;} */
  
/*---------------------------------------------------------------------*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 5px 5px 0;
    background: var(--navbarColorSite);
    box-shadow: var(--varBoxShadowColor);
    z-index: 100;
    transition: .4s ease;
    width: 0;
  }
 .nav__logo img{
    border-radius: 50%;
    margin-left: 2px;
    margin-top: -20px;
 }
 a{
    text-decoration: none;
 }


  .nav__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
    overflow: auto;
    scrollbar-width: none; /* For mozilla */
    margin-left: 15px;
  }
  /* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
    display: none;
  }
  

  .nav__logo {
    display: flex;
    align-items: center;
  }
  
  .nav__logo img {
    width: 100px; /* Adjust the size to your preference */
    margin-right: 5px;
    border-radius: 50%;
  }
  
  
  
  /*-----------------------*/
  .nav__list, 
  .nav__items {
    display: grid;
  }
  
  .nav__list {
    row-gap: 5px;
    margin: 5px;
  }
  
  .nav__items {
    row-gap: 5px;
  }
  
  .nav__subtitle {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:var(--navbarColorTopic);
  }
  
  .nav__link {
    display: flex;
    align-items: center;
    color: var(--navbarColorLink);
    margin: 0px;
  }
  
  .nav__link:hover {
    color: var(--navbarColorLinkHover);
   
  }
  
 
  
  .nav__name {
    font-size: 15px;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 5px;
 
    
  }
  .DarkModeColorName{
    color: var(--IcansColor);
  }
  .iconsColor{
    color: var(--IcansColor);
  }
  

  /* Dropdown----------------------------------------------------------------------------- */
.nav__dropdown {
    overflow: hidden;
    max-height: 30px;
    transition: .4s ease-in-out;
    
  }
  
  .nav__dropdown-collapse {
    
   
    margin-top: 5px;
  }
  
  .nav__dropdown-content {
    display: grid;
    row-gap: .25rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
  }
  
  .nav__dropdown-item {
    font-size:14px;
    font-weight: 500;
    color: var(--navbarColorLink);
    
  }
  
  .nav__dropdown-item:hover {
    color: var(--navbarColorLinkHover);
 
  }
  
  .nav__dropdown-icon {
    margin-left: auto;
    transition: .4s;
  }
  
  /* Show dropdown collapse */
  .nav__dropdown:hover {
    max-height: 100rem;
  }
  
  /* Rotate icon arrow */
  .nav__dropdown:hover .nav__dropdown-icon {
    transform: rotate(180deg);
  }
  
  /*===== Show menu =====*/
  .show-menu {
    left: 0;
  }

  
  
  /* Navbar expanded */
  .nav:hover {
    
      width: 219px;
    }
    
    .Activeclass{
      color: var(--IcansColor); 
      background-color: var(--navbarColorTopic);
      width: 80%;
      border-radius: 10px;
      border-right: 15px solid var(--IcansColor);
  }
 
  /*------------------create post------------*/
  .create_post{
    width:85%;
    height: 100px;
    margin-top: 30px;
    margin-left: 40px;
    border: 1px solid var(--varColorLightDrak);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--varBoxShadowColor);
    background-color:var(--varColorLightDrak);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  

  }
 
  .create{
    display: flex;
    margin-left: 10px;
  }
  .type_something{
    border: none;
    width: 90%;
    margin-left: 10px;
    background: var(--varInputColorLightDrak);
    border-radius: 5px;
  
  }
  .post_features{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .createpost_icons i{
    margin-left: 10px;
  }
  /*------------------------post button and log out--------------------------------------------*/

.post_post
{
  width: 90px;
  background: var(--navbarColorButtom);
  color: white;
  padding: 0px 10px;
  height: 20px;
  font-size: 10px;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 42px;
  border: none;
  background: linear-gradient(0deg, #0099ff 0%, #0099ff 100%);
}
.nav_logout{

  width: 100px;
  background: var(--navbarColorButtom);
  color:white;
  padding: 0px 10px;
  height: 30px;
  font-size: 15px;
  border-radius: 2px;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 42px;
  border: none;
  background: linear-gradient(0deg, #E39942 0%,#E39942  100%);
  bottom: 10%;
  left: 20%;
}
.post_post:hover,
.nav_logout:hover,.dash_link:hover {
  color: rgb(0, 191, 255);
  background: white;
  box-shadow: none;
}

.post_post:before,
.post_post:after ,
.nav_logout:before ,
.nav_logout:after,.dash_link:before,.dash_link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--navbarColorTopic);
  box-shadow:
      -1px -1px 5px 0px #fff,
      7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.post_post:after,
.nav_logout:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.post_post:hover:before,
.post_post:hover:after,
.nav_logout:hover:before,
.nav_logout:hover:after{
  width: 100%;
  transition: 800ms ease all;
}

  
 /*post style---------------------------------------------------------------------------------*/
 .post__container{

  margin-top: 60px;
  margin-left: 26%;
  width: 50%;
  border-radius: 10px;
 
 }

 .post-header {
  display: flex;
  align-items: center;
  position: relative;

} 

.post_menu {
  position: absolute;
  right: 0%;
}

.actions-menu {
  position: absolute;
  background-color: var(--navbarColor);
  box-shadow: 5px 5px 5px rgba(22, 8, 43, 0.1);
  display: none;
  border-radius: 10px;
  color: white;
  font-weight: 300;
  width: 100px;
padding: 10px;

}

.actions-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.actions-menu li {
  padding: 8px 16px;
  cursor: pointer;
 
}

.actions-menu li:hover {
  color: var(--navbarColorLinkHover);
}

.AccountImage{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.account-name {
  font-weight: bold;
  color: var(--varBlackLight);
  font-size: medium;
  margin-top: 5px;

}
.account-Date{
  display: flex;
  align-items: center;
  margin-top: -18px;
  color: var(--varBlackLight);
}
.user-ProfilePost{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 10%;
}
.darkmodeUpDownComments{
  background: var(--varColorLightDrak) !important;
}
/*------------------------------------*/
 .post {
  width: 85%;
  height: auto;
  margin-top: 30px;
  margin-left: 40px;
  border: 1px solid var(--varColorLightDrak);
  padding: 20px;
  border-radius: 8px;
  box-shadow:var(--varBoxShadowColor);
  background-color: var(--varColorLightDrak);

}


.post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.post-imageComment{
    width: 100%;
    height: 40%;
    border-radius: 8px;
  
}
.post-caption {
  margin-top: 10px;
  font-size: 14px;
  color: var(--varBlackLight);
  font-family:'Poppins', sans-serif ;
}

.post-actions {
  margin-top: 10px;
  display: flex;
  
  /*justify-content: space-between;*/
}

.vote-buttons {
  display: flex;
  
}
.vote-buttons button{
  margin-left: 10px;
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}


.comment-button {
  background-color: white;
  color: #333333 !important;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
}
.comment-button:hover{
  transform: scale(1.9);
  color: var(--navbarColor)!important;
}

.view-comments{
  text-align: center;
}
.CommentsLink{
  color: #0099ff;


}
.CommentsLink a:hover{
  transform: scale(1.3);
  
}

.divider{
  color: #333333;
 width: 100%;

}
.comment{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: -20px;
}

.comment_profile{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  }

.profile_photo{
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.write_comment{
  border:none;
  margin-left: 15px;
  width: 170px;
  background-color: var(--varInputColorLightDrak);
  border-radius: 5px;

}
.write_comment::placeholder{
padding: 32px;
}

.count{
  color: var(--varBlackLight);
}
/*----------------------------------------------------------*/
.right_navbar{
  width: 15%;
  display: flex;
  flex-direction: column; 
  right: 6%;

}

.Trending_bar,.recommended_bar,.community_bar{
  background-color: var(--varColorLightDrak);
  width: 100%;
  height: auto;
  color: #333333;
  border-radius: 20px;
  margin-top:90px;
  margin-left: 70px;
  box-shadow: var(--varBoxShadowColor);

  
}
.Trending_bar:hover,.recommended_bar:hover,.community_bar:hover{
  transform: scale(1.03);
}
.title {
  display: flex;
  align-items: center;
  
}
.add-community{
  color: var(--varBlackLight);
}
.titleCommunity {
  display: flex;
  align-items: center;

}
.iconCommunity{
  color: var(--varBlackLight);
   font-size: 15px;
   margin-left: 5px;
}
.iconCommunity:hover{
  transform: scale(1.3);
  color:#0099ff;
}
.UpvateClass,
.DownClass,
.commnetsVote
{
color:#0099ff;
}

.UpvateClass:hover,
.DownClass:hover
{
transform: scale(1.6);

}

.fa-fire-flame-curved ,.fa-people-group,.fa-people-roof {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px; /* Adjust the font size as needed */
}

.title-word {
  font-weight: bold;
  font-size: 14px; /* Adjust the font size as needed */
  color: var(--varBlackLight);
}
.right-divider{
  max-width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}
.recommended_bar,
.community_bar {
  margin-top: 30px;
}

.element1,
.element2,
.element3,
.element4{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0px 10px;
  
}
.name{
  color:red;
}
/*------------------------follow button--------------------------------------------*/
.follow {
  background: var(--navbarColorButtom);
  color: white;
  padding: 0px 10px;
  height: 20px;
  font-size: 10px;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 42px;
  border: none;
  background: linear-gradient(0deg, #0099ff 0%, #0099ff 100%);
}

.follow:hover {
  color: rgb(0, 191, 255);
  background: white;
  box-shadow: none;
}

.follow:before,
.follow:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--navbarColorTopic);
  box-shadow:
      -1px -1px 5px 0px #fff,
      7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.follow:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.follow:hover:before,
.follow:hover:after {
  width: 100%;
  transition: 800ms ease all;
}


/*--------------------------------------------------------------------*/
.name {
  font-size: 12px;
  color: var(--varBlackLight);
  margin-right: 14px;
  margin-top: 5px;
}

.element2 {
  margin-bottom: 10px;
}
.right-divider{
  max-width: 150px;
}
/*--------------------overlay page of community------------------------------------------------*/
.section{
  position: relative;
  width: 100%;
  height: 5vh;
  display: flex;
}

.overlay-page {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:var(--OverlayBackgroundColor);
  z-index: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 98%;
  margin-left: 30%;
  margin-top: 1%;
  margin-bottom: 5%;
  background: #ecf0f3;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Add this style for the blur effect */
.blurred{
  filter: blur(7px);
  transition: filter 0.5s ease;
}

#overlay_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-left: 5%;
 
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 250px;

}

#createCommunityForm label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

#createCommunityForm input[type="text"],
#createCommunityForm input[type="file"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: #ecf0f3;
   box-shadow:  8px 8px 8px #cbced1,
   -8px -8px 8px #ffffff;
  border-radius: 5px;
}
#createCommunityForm input[type="text"]::placeholder{
  font-size: larger;
  color: gray;
  opacity: 0.4;
}
.comunnityForm{
  width: 90%;
  margin-left: 4%;
}
/*#createCommunityForm button {
  padding: 10px;
  background-color: #9370DB;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 32%;
  box-shadow:  8px 8px 8px #cbced1,
   -8px -8px 8px #ffffff;
}*/

.custom-btn {
  display: flex;
  text-align:center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  left: 45%;

 
  
}
.save-edit-aboutinfo {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: var(--navbarColorButtom);
  background: linear-gradient(0deg, var(--navbarColorButtom) 0%, var(--navbarColorButtom) 100%);
  bottom: 4px;
  

}
.save-edit-aboutinfo:hover{
  color: var(--navbarColorButtom);
  background: transparent;
   box-shadow:none;
}
.save-edit-aboutinfo:before,
.save-edit-aboutinfo:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--navbarColorButtom);
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.save-edit-aboutinfo:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.save-edit-aboutinfo:hover:before,
.save-edit-aboutinfo:hover:after{
  width:100%;
  transition:800ms ease all;
}

#closeOverlay {
  border-radius: 60%;
  width: 40px;
  height: 40px; /* Adding height for a square button */
  font-size: 30px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 8px;
  box-shadow:  8px 8px 8px #cbced1,
   -8px -8px 8px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.comm_img input[type="file"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the file input to make it visually appealing */
.comm_img input[type="file"]::-webkit-file-upload-button {
  background: var(--navbarColorButtom);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comm_img input[type="file"]::-webkit-file-upload-button:hover {
  background: var(--navbarColorButtom);
}
.comm_img input[type="file"]::placeholder {
  color: gray;
  opacity: 0.4;
  margin-left: 5px;
}

/*---------community page------------------------*/
.community__container{
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 5%;
  width: 60%;
  border-radius: 10px;
}
.community-image{
  width: 25%;
  height: 30%;
  border-radius: 50%;
  margin-right: 0px;

}
.community_name{
  font-weight:500;
  color: #333333;
  font-size: large;
  padding-left: 2%;
  margin-bottom: 0;

}
.community_details{
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
  padding: 10px;
  width: 30%;
  height: 20%;
  margin: 0;
}
.community-topic{
  margin-top: 3px;
  margin-left: 3px;

}

/*-------------------------- view All comment-------------------------------*/
.view-Comments-Overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--OverlayBackgroundColor);
  backdrop-filter: blur(15px); /* Adjust the blur radius as needed */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  

}

  





.view-Comments-Overlay-Form{
  position:relative;
  display:flex;
  left: 28%;
  top: 2%;
  flex-direction: column;
  padding: 0 30px 0 34px;
  position: relative;
  width: 42%;
  height: 90%;
  border-radius: 20px;
  border: 1px solid rgba(255,255, 255,0.3);
  background: rgba(255,255, 255,0.2);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  color:  #fff;
  backdrop-filter: blur(5px);

}


.All-Comments-Inside-Overlay{
  background-color:white ;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  margin-top: -10px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255,255, 255,0.3);
  border-radius: 20px;
  color:rgba(255,255, 255,0.2); ;

}
.hrComments{
  border-color: white;
  border-width: 1px;
  width: 100%;
  margin-bottom: 10px;
}

.x-imgComments {
  aspect-ratio: 1.08;
  width: 25px;
  position: absolute;
  left: 92%;
  top: 2%;
}

.comment-overlay{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}

  .write_comment-overlay{
    border:none;
    margin-left: 10px;
    width: 100%;
    height: 35px;
    border-radius: 13px;
    margin-left: 0%;
  }

  .Comments-inside-O{
  display: flex;
  justify-content: flex-start;
  width: 10%;
  padding-top: 5px;
  padding-left: 10px;

  }
  .usersComments{
    color: black;
    padding-left: 10px;
    width: 100%;
    white-space: nowrap;
  }


/* this for Dark mode Form  */
/* Container for the theme switch */
.theme-switch {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

}

/* Hidden default checkbox input */
.theme-switch input {
  display: none;
}

/* Styles for the toggle switch label */
.theme-switch label {
  position: relative;
  display: block;
  width: 40px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: #000000; /* Dark background color for the switch */
  border-radius: 10px; /* Rounded corners for the switch */
  cursor: pointer;
}

/* Styles for the toggle switch handle */
.theme-switch label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px; /* Width of the handle */
  height: 16px; /* Height of the handle */
  background-color: #fff; /* Color of the handle */
  border-radius: 50%; /* Make the handle round */
  transition: transform 0.3s; /* Smooth transition for the handle movement */
}

/* Adjust the handle position based on the checkbox state */
.theme-switch input:checked + label::after {
  transform: translateX(20px); /* Move the handle to the right when checked */
}


/*------------about us----------*/
.AboutUsMainHeader {
  position: relative;
}

.AboutUsHeader {
  width: 100%;
  height: 800px;
  object-fit: cover; /* Ensure the image covers the container while maintaining its aspect ratio */
  border-radius: 10px;
  box-shadow: 10px 10px 10px  gray;
  
  
}




.AboutUsName {
 
  top: 2%;
  left: 10%;
  position: absolute;
  color: black;
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 900;
  font-size: 80px;
  letter-spacing: 2px;
  line-height: 1.2em;
}
.AboutUsName:hover {
  color: var(--navbarColorTopic); /* Change the color on hover, you can use your preferred gold color code */
  transform: scale(1.1); /* Scale the image on hover */
}

.AboutUsParagraph {
  font-weight: 900;
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 1.2em;
  color: black;
  font-family:'Montserrat', Helvetica, sans-serif;
  position:static;
  width: 35%;
  margin: 0 auto; /* Center the paragraph within the TextContainer */
  margin-top: -400px;
  margin-bottom: 300px;
  margin-left: 10%;

  
  
}
.AboutUsParagraph:hover {
  color: var(--navbarColorTopic); /* Change the color on hover, you can use your preferred gold color code */
  transform: scale(1.1); /* Scale the image on hover */
  box-shadow: 10px 10px 10px  gray;
}
.cardsFlex{

  background-color:#90C2F7;
  border-radius: 50%;
  margin:auto;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  width: 60%;
  height: 500px;
  

}

.FirstCardFlex{
  width: 50%;
  height: inherit;
 
}
.firstHeaderInsideFlex{
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 1.2em;
  color: var(--navbarColor);
  padding-left: 20%;

  
}

.SecondHeaderInsideFlex{
  width: 90%;
  font-family:'Montserrat', Helvetica, sans-serif;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.2em;
  color: var(--navbarColorTopic);
 padding-top: 0%;
 padding-left: -10%;

}



.SecondCardFlex{
  width: 50%;
  height: inherit;

}
.SecondCardFlex img{
  width: 100%;
  height: inherit;
  border-radius: 180%;
}
.SecondCardFlex img:hover {
  transform: scale(1.1); /* Scale up by 10% on hover */
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px  gray;
 
    
}



.cardsFlexAboutWork{
  border-radius: 50%;
  margin:auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 60%;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 200px;
}
.FirstCardFlexWork{
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
 box-shadow: 10px 10px 10px  gray;
 margin-right: 20px;
 
}
.SecondCardFlexWork{
  width: 50%;
  height: inherit;
  box-shadow: 10px 10px 10px  gray;
  margin-right: 20px;
  
}
.thirdCardFlexWork{
  width: 50%;
  height: inherit;
  box-shadow: 10px 10px 10px  gray;
  margin-right: 20px;
  
}
.FirstCardFlexWork:hover,
.SecondCardFlexWork:hover,
.thirdCardFlexWork:hover
{
  transform: scale(0.9);

}
.paragraphWork{
  color: var(--navbarColorTopic);
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.2em;
}




/* ------------------------about us person ------------------------------------ */
.CreativeCrew {
  color: var(--navbarColor);
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}
.personAbout {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.containerAbout {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.containerAbout:after {
  background-color: #f2f2f2;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.containerAbout:hover {
  transform: scale(0.54);
}
.container-innerAbout {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circleAbout {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}

.containerAbout:hover .imgAbout {
  transform: translateY(0) scale(1.2);
}

.dividerAbout  {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.nameAbout  {
  color: #404245;
  font-size: 25px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.titleAbout  {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}

.personeDivFlex{
  display: flex;
  justify-content: center;
}

/* ------------------------about us footer ------------------------------------ */

.AboutFooter{
  display: flex;
  justify-content:center;
  align-items: center;
margin-top: 20px;
width: 100%;
height: 200px;
background: var(--navbarColor);

}

.boxAboutIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  margin: 10px 0;
  background: #fff;
  border-radius: 50px;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
  
}
.iconAboutIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  font-size: 2.3em;
 
 
}
.spanAboutIcon{
  display: none;
  font-family: 'Ubuntu';
  font-size: 1.4em;
  font-weight: 500;
  margin-right: 20px;
}
.boxAboutIcon:hover{
  width: 180px;
  color: #fff;
  margin: 10px;
}
.boxAboutIcon:hover span{
  display: flex;
}
.boxAboutIcon:nth-child(1):hover{
  background: #3b5998;
}
.boxAboutIcon:nth-child(2):hover{
  background: linear-gradient(45deg, #f09647 0%, #e6554d 25%, #dc2840 50%, #cc2366 75%, #bc1888 100%);
}
.boxAboutIcon:nth-child(3):hover{
  background: #1da1f2;
}
.boxAboutIcon:nth-child(4):hover{
  background: #ff0000;
}
.boxAboutIcon:nth-child(5):hover{
  background: #0e76a8;
}

/* ---------------------carousel--------------------------------------- */
#carouselExample {
  text-align: center;
  margin-top: 50px;
}


#carouselExample .carousel-indicators {
  position: relative;
  bottom: 0;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

#carouselExample .carousel-indicators li {
  width: auto;
  height: auto;
  text-indent: 0%;
  background-color: transparent;
  margin-left: 15px;
  margin-right: 15px;
  flex-direction: column;
}
#carouselExample .carousel-indicators li::before {
  content: none !important;
}

#carouselExample .carousel-indicators li img {
  transition: 1s;
}

#carouselExample .carousel-indicators li.active {
  transition: 1s;
}

#carouselExample .carousel-indicators li.active img {
  transform: scale(1.5);
  transition: transform 1s ease-in-out;
}

#carouselExample .carousel-item {
  transition: 0s linear;
}

#carouselExample .blockquote {
  font-style: italic;
  font-weight: bold;
  color: var(--navbarColorTopic);
  background-color: var(--navbarColor);
  width: 40%;
  margin: auto;
  border-radius: 20%;
  border: 3px solid var(--navbarColorTopic);
}
#carouselExample .blockquote:hover {
transform: scale(1.2);
}


#carouselExample small {
  text-align: right;
}

#carouselExample i {
  color: #222;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .carousel-title {
      font-size: 18px;
      margin-top: 20px;
  }

  #carouselExample .blockquote {
      font-size: 15px;
      text-align: center;
      margin: 20px 0;
  }

  #carouselExample small {
      text-align: center;
      display: block;
  }

  #carouselExample .carousel-indicators li {
      margin-left: 8px;
      margin-right: 8px;
  }

  #carouselExample .carousel-indicators li.active img {
      transform: scale(1.2);
  }
}

/* -------------------- create story------------------------- */

.StoryGallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 90%;
  margin: auto;
  position: relative;
}

.scroll-container {
  overflow-x: auto;
  width: 100%;
  overflow: hidden;
}

.inner-container {
  display: flex;
}

.story,
.Poststory {
  flex: 0 0 auto;
  width: 18%;
  padding-top: 32%;
  position: relative;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(./images/StoryImage.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-right: 20px;
}
.story img{
  width: 40px;
  height: 40px;
}
.story:hover,
.Poststory:hover {
  transform: scale(0.99);
}

.story img ,
.Poststory img{
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 5px solid var(--navbarColor);
  
}

.story p,
.Poststory p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
}

.navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  user-select: none;
}

.navigation.left {
  left: 0;
  z-index: 1;

}

.navigation.right {
  right: 0;
z-index: 1;
  
}


.Poststory1{
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/myself.jpg); 
 
}
.story2{
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/rayan2.jpg); 

}
.story3{
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/download\ \(1\).jpg); 
}
.story4{
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/member.jpg); 
}
.story5{
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/member.jpg);  
}
.story6{
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/member.jpg);  
}
.story7{
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/member.jpg);  
}


.Poststory.Poststory1 img{
  top: unset;
  left:50%;
  bottom: 45px;
  transform: translateX(-50%);
  border: 0;
  width: 25px;
}


/*  ----------overlay Stories------------  */


.overlayStories {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.overlay-content-Story {
  position: relative;
 width: 50%;
 height: 60%;


 

}
#overlayimageStory{

  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 20px;
}

.close-btn-Story {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* -------------communityall-------------------- */
.communitylinksbtn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}
.communityall__container{
  width: 60%;
  margin-top: 60px;
}
