/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
    --backGroundColor:#F3F6F9;
    --ColorSidBarb:black;
    --ColorBackGroundSide:#F3F6F9;
}

body {
    color: var(--dark);
    transition: background-color 0.5s, color 0.5s;
}

body.darkMode {
    --backGroundColor:black;
    --ColorSidBarb:#F3F6F9;
    --ColorBackGroundSide:#191C24;
}

.colorAllContent{
background-color: var(--ColorBackGroundSide);
color: var(--ColorSidBarb);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color:var(--ColorSidBarb);
}

.btn-square {
    width: 38px;
    height: 38px;

}

.btn-sm-square {
    width: 32px;
    height: 32px;
 
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
    
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--ColorBackGroundSide);
    transition: 0.5s;
    z-index: 999;
    
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--backGroundColor);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}

.navbar{
    background-color: var(--ColorBackGroundSide);
}

/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--ColorSidBarb);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
    
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
    

}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    

}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
  

  
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);

}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color:var(--ColorSidBarb);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
  
}
.colorIconNav{
    color:black;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

/* -------------------------------------------------------------- */
/* this for Dark mode Form  */
/* Container for the theme switch */
.theme-switch {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  
  }
  
  /* Hidden default checkbox input */
  .theme-switch input {
    display: none;
  }
  
  /* Styles for the toggle switch label */
  .theme-switch label {
    position: relative;
    display: block;
    width: 40px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: #000000; /* Dark background color for the switch */
    border-radius: 10px; /* Rounded corners for the switch */
    cursor: pointer;
  }
  
  /* Styles for the toggle switch handle */
  .theme-switch label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px; /* Width of the handle */
    height: 16px; /* Height of the handle */
    background-color: #fff; /* Color of the handle */
    border-radius: 50%; /* Make the handle round */
    transition: transform 0.3s; /* Smooth transition for the handle movement */
  }
  
  /* Adjust the handle position based on the checkbox state */
  .theme-switch input:checked + label::after {
    transform: translateX(20px); /* Move the handle to the right when checked */
  }

  /* -------------------------------------------------------------- */

  .text-center {
    text-align: center;
}